<h1>All Articles</h1>

<ul id="articles">
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article_path(article) %>
      <% if !article.tags.empty?%>
        Tags:
        <% article.tags.each do |tag| %>
          <%= link_to tag.name, tag_path(tag) %>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>
